html {
  line-height: 1.6;
}

h1,
h2 {
  font-size: 3rem;
  line-height: 1.125;
}

/* Dine styles her */
article {
  > * + * {
    margin-top: var(--flow-space, 5rlh);
  }

  h2 {
    --flow-space: 2rlh;
  }

  h3 {
    --flow-space: 1rlh;
  }
  h3 + * {
    --flow-space: 0.25rlh;
  }
}

@layer setup {
  * {
    margin: 0;
    box-sizing: border-box;
  }

  html {
    line-height: 1.5;
  }

  article {
    line-height: 1.5;
    font-family: system-ui;
    max-inline-size: 65ch;
    margin-inline: auto;
    margin-block: 3rem;
  }

  h2 {
    font-size: 1.67rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  p {
    color: #334155;
  }
  .lead {
    font-size: 1.25rem;
  }
}
